trigger.py
test.py
configs/
*.swp
*.pyc
*.log
.idea
configs_local
configs_test
butils/diff_indiv/testing.txt
.DS_Store
configs/
build/
uyalivetrackerbackend.egg-info/
livetrackerbackend.egg-info/
logs/

llm/env/
llm/llama.cpp/
llm/models/
llm/lora_output
env/
venv/
llm/venv/
llm/*.tar.gz
final_model/
full_finetune_output/
*.jsonl
